.container {
    padding: 20px;
  }
  
  .title {
    margin-bottom: 30px;
    text-align: center;
    color: #4a148c;
  }
  
  .card {
    padding: 20px;
  }
  
  .cardTitle {
    font-weight: bold;
    color: #4a148c;
  }
  
  .button {
    margin-top: 10px;
    font-size: 16px;
  }
  