.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px; /* Alinhamento centralizado */
  }
  
  .title {
    color: #5922A0; /* Cor do título */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 16px; /* Espaçamento inferior */
  }
  
  .gridContainer {
    margin-left: -16px; /* Margem negativa */
  }
  
  .card {
    width: 100%; /* Largura do card */
    height: 200px; /* Altura do card */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento vertical central */
    background-color: #FFD105; /* Cor de fundo do card */
    color: #5922A0; /* Cor do texto do card */
    border-radius: 8px; /* Arredondamento das bordas */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Sombra do card */
    margin-bottom: 16px; /* Espaçamento inferior */
  }
  
  .avatar {
    background-color: #5922A0; /* Cor de fundo do avatar */
    margin-bottom: 16px; /* Espaçamento inferior */
  }
  
  .button {
    background-color: #5922A0; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    margin: 8px; /* Margem ao redor do botão */
  }
  