.body{
    background-color: #FFD105;
    height: 100vh;
}
.containerImg{
    display: flex;
    justify-content: center;
}
img{
    border: 2px solid #5922A0;
    margin-top: 50px;
    height: 200px;
    width: 350px;
}
h4{
    margin-top: 50px;
    text-align: center;
    color: #461c7e;
}


@media screen and (max-width: 750px) {
    img{
        width: 300px;
        height: 170px;
    }
}