
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #FFD105;
    padding: 10px 20px;
  }
  
  .navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navItem {
    margin-left: auto;
  }
  
  .navButton {
    text-decoration: none;
    background-color: #FFB300; /* Cor de um tom mais escuro da paleta #FFD105 */
    color: #FFFFFF; /* Branco */
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: #FFA000; /* Um tom mais escuro ao passar o mouse */
  }
  